/*
 * css_index.css
 * Yusuke Kato
 * start : 9.11.2016
 * last : 9.12.2016
 */

body {
    text-align: center;
}
body {
    background-color: #CCFFCC;
}
div#wrapper {
    width: 900px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #0000FF;
}