body {
    background-color: #FFFFFF;
}
div {
    position: absolute;
}
.button {
    width: 150px;
    height: 75px;
    color: #1111FF;
    background-color: #CCCCFF;
    border: 8px solid #FFFF55;
    text-align: center;
}
.gobutton {
    width: 300px;
    height: 150px;
    color: #1111FF;
    background-color: #CCCCFF;
    border: 10px solid #FF3333;
    text-align: center;
}
#panel2_1 {
    left: 20px;
    top: 70px;
    width: 600px;
    height: 550px;
    background-color: #BBFFBB;
}
#panel2_2 {
    left: 20px;
    top: 630px;
    width: 600px;
    height: 360px;
    background-color: #AABB55;
}
#panel2_3 {
    left: 20px;
    top: 1050px;
    width: 300px;
    height: 50px;
    background-color: #FFFFFF;
}
.text2_1 {
    color: #2244CC;
}
.text2_2 {
    color: #AA2277;
}
.text2_3 {
    color: #FF5555;
}