/*
 * gamebook1
 * Yusuke Kato
 * start: 9.6.2016
 * last : 9.9.2016
 */

body {
    background-color: #CCFFCC;
}
.text-color {
    color: #;
}
.text-color2 {
    color: #9900FF;
}
.stage-color {
    color: #FF5555;
}
div {
    position: absolute;
}
#panel {
    left: 500px;
    top: 50px;
    width: 500px;
    height: 330px;
    background-color: #99FF99;
}
#panel2 {
    left: 500px;
    top: 400px;
    width: 150px;
    height: 220px;
    background-color: #77FF88;
}
#panel3 {
    left: 680px;
    top: 400px;
    width: 150px;
    height: 220px;
    background-color: #77FF88;
}
#panel4 {
    left: 860px;
    top: 400px;
    width: 150px;
    height: 220px;
    background-color: #77FF88;
}
.button {
    width: 100px;
    height: 50px;
    color: #1111FF;
    background-color: #CCCCFF;
    border: 2px solid #FFFF55;
    text-align: center;
}
.gobutton {
    width: 100px;
    height: 50px;
    color: #1111FF;
    background-color: #CCCCFF;
    border: 4px solid #FF3333;
    text-align: center;
}